[submodule "qcat"]
	path = qcat
	url = https://github.com/mengchaoheng/qcat.git
[submodule "aircraft-control-allocation-book-simulation"]
	path = aircraft-control-allocation-book-simulation
	url = https://github.com/mengchaoheng/aircraft-control-allocation-book-simulation.git
[submodule "linear-programming"]
	path = linear-programming
	url = https://github.com/mengchaoheng/linear-programming.git
