[submodule "qcat"]
	path = qcat
	url = https://github.com/mengchaoheng/qcat.git
[submodule "aircraft-control-allocation-book-simulation"]
	path = aircraft-control-allocation-book-simulation
	url = https://github.com/mengchaoheng/aircraft-control-allocation-book-simulation.git

[submodule "linear-programming-using-MATLAB"]
	path = linear-programming-using-MATLAB
	url = https://github.com/mengchaoheng/linear-programming-using-MATLAB.git
[submodule "alglib_demo"]
	path = alglib_demo
	url = https://github.com/mengchaoheng/alglib_demo.git
[submodule "SDLP"]
	path = SDLP
	url = https://github.com/mengchaoheng/SDLP.git
