*.DS_Store
LP/codegen/
PCA/codegen/
QP/codegen/
*/*.prj
*/*.mexmaca64
flight_log/*.mat
flight_log/*.ulg
*/*.asv
*/*.a
*.asv
*_*_*.mat
*_*_*.ulg
*/slprj/
slprj/

alloc_cpp/build
LP_lib/alglib_demo/build/*
LP_lib/lp_tiny/build/*
LP_lib/SDLP/build/*
!flight_log/14_29_39.ulg
!flight_log/14_29_39.mat

/results